body {
    background-color: black;
    margin: 70px 480px 70px 480px;
}

.post-instagram {
    background: white;
}

.image {
    width: 560px;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.header-left {
    display: flex;
}

.header-left h1 {
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.nombres {
    margin: 0;
}

.rigo {
    margin: 0px 0px 5px 0px;
}

i {
    font-size: 40px;
}

.fa-brands {
    margin-top: 15px;
}

.fa-solid {
    padding-left: 330px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 5px;
}

.body-left i {
    padding: 5px;
}

.body {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-left: 10px;
    padding-bottom: 10px;
}